@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');

.hero {
  max-height: 100vh;
  font-family: 'Geist', sans-serif;
  padding-top: 8rem;
}

.comingSoonPattern {
  background-image: repeating-linear-gradient(
    135deg,
    transparent,
    transparent 5px,
    rgba(128, 128, 128, 0.05) 5px,
    rgba(128, 128, 128, 0.05) 10px
  );
}
